{{ define "content" }}

  {{ range $section := .Params.sections }}
    {{ $include_dict := dict "section" $section "Site" $.Site }}
    {{ partial $section.component $include_dict }}
  {{ end }}

  <div class="post-feed">
    <article class="post post-card">
      <div class="post-card-inside">
        <a class="post-card-thumbnail" href="https://www.youtube.com/watch?v=RNuaH3XkU4U">
          <img class="post-thumbnail" src="https://user-images.githubusercontent.com/30529572/85775899-bbb7d180-b70f-11ea-8f82-319c31af2f64.png" alt="DSC OMG | Enter the Denoland" />
        </a>
        <div class="post-card-content">
          <header class="post-header">
            <div class="post-meta">
              <time class="published"
              datetime="2020-06-25 18:20">June 25, 2020</time>
            </div>
            <h2 class="post-title"><a href="https://www.youtube.com/watch?v=RNuaH3XkU4U" rel="bookmark">DSC OMG lightning talk | Enter the Denoland</a></h2>
          </header><!-- .post-header -->
          <div class="post-excerpt">
            <p>Enter the Denoland is a talk in a series of lightning talks that happened in DSC OMG, an online conference organized by over 199 Developer Student Clubs all over India, with over 20 sessions taken by industry professionals, Google Developer Experts, and students alike. This talk was selected in the call for proposals for DSC OMG and it gives insight on Deno, which is the new typescript and javascript runtime that has taken the developer community by storm.</p>
            <p class="read-more">
              <a class="button inverse" href="https://www.youtube.com/watch?v=RNuaH3XkU4U">View More</a>
            </p>
          </div><!-- .post-excerpt -->
        </div><!-- .post-card-content -->
      </div><!-- .post-card-inside -->
    </article><!-- .post -->





	<article>
      <div class="post-card-inside">
        <a class="post-card-thumbnail" href="https://www.youtube.com/watch?v=j7mrV40z-Y0">
          <img class="post-thumbnail" src="https://user-images.githubusercontent.com/30529572/85772533-7645d500-b70c-11ea-9e48-e9b998ebfba4.png" alt="C4 Global Developers' Summit | Enter the Denoland" />
        </a>
        <div class="post-card-content">
          <header class="post-header">
            <div class="post-meta">
              <time class="published"
              datetime="2020-05-29 18:00">May 29, 2020</time>
            </div>
            <h2 class="post-title"><a href="https://www.youtube.com/watch?v=j7mrV40z-Y0" rel="bookmark">C4 Global Developers' Summit | Enter the Denoland</a></h2>
          </header><!-- .post-header -->
          <div class="post-excerpt">
            <p>Global Developers' Summit was an online conference organized by C4 Projects during the lockdown period of 2020. It had a panel of more than 25 different speakers talking about topics like deep learning, startup culture and cloud technologies. Enter the Denoland is a webinar which explores the new and popular runtime for typescript and javascript in a code-along format.</p>
            <p class="read-more">
              <a class="button inverse" href="https://www.youtube.com/watch?v=j7mrV40z-Y0">View More</a>
            </p>
          </div><!-- .post-excerpt -->
        </div><!-- .post-card-content -->
      </div><!-- .post-card-inside -->
    
  </div><!-- .post-feed -->
	</article>

  <!-- Pagination TBD -->
  <!--
  <nav class="pagination">
    <div class="nav-links">
      <a class="older-posts button circle" href="#"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Older posts</span></a>
      <span class="page-number">Page X of Y</span>
      <a class="newer-posts button circle" href="#"><span class="screen-reader-text">Newer posts</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
    </div>
  </nav>
  -->

  {{ end }}
